<div ng-controller="UserCtrl" class="container">
  <h1>User Preference</h1>

  <%= image_tag current_user.image %>
  <%= current_user.name %>

  <div class="row">
    <div class="col-xs-6 category-container">
      <h3>All Categories</h3>
      <div ng-repeat="category in categories" class="category-name checkbox col-xs-4">
        <input type="checkbox">{{category.category_name}}
      </div>
    </div>
    <div class="col-xs-6 category-container">
      <h3>Selected Categories</h3>

    </div>
  </div>
</div>