// hidden items
div.inline-image-tools, div.short-url, div.share-buttons.colored, div.count.number, div.inline-ad.ad-visible, p.print, .buzz_superlist_item_text hr, div.buzz-topic-links, div.share-box.bf_dom, div.buzz_superlist_item.buzz_superlist_item_embed.buzz_superlist_item_narrow.no_caption, #superlist_3479104_4033774, #superlist_3479104_4033787 {
  display: none;
}

// article modal styling
div#facebook {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#twitter {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-header{
  .img-title {
    h4 {
      color: #EEEEEE;
      text-shadow: -3px 3px 0px black;
      background-color: rgba(53, 53, 53, 0.4);
      font-family: "Roboto";
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

body .modal-content {
  /* new custom width */
  width: 980px;
}

body .modal-lg {
  width: 980px;
}

.modal-body{
  .img-title{
    img {
      width: 100%;
      position: relative;
    }
  }
  .content {
    margin-top: 30px;
  }
}


.qz-com {
  .main-content {
    p.annotatable {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      margin-bottom: 18px;
    }
    img {
      width: 100%;
    }
    p.annotatable > em {
      font-size: 16px;
    }
    figcaption.inline-image-caption {
      font-family: "Roboto";
      margin-bottom: 18px;
    }
    .inline-image.size-large {
      min-width: 0px;
      margin-left: 0px;
    }
    .pull-quote {
      float: left;
      width: 400px!important;
      position: relative;
      margin-left: -150px!important;
      height: auto;
      min-height: 108px;
      top: 10px;
      margin-top: 20px!important;
      margin-bottom: 20px!important;
    }
    .pull-quote .quote-line {
      height: 5px!important;
      background-color: #e7e7e7;
      width: 44.444%!important;
      margin: 10px 0!important;
      display: block;
    }
    .item-body .pull-quote span:not(.quote-line) {
      width: 83%!important;
      top: 60px;
      color: #006aa4!important;
      padding-top: 20px!important;
      padding-bottom: 22px!important;
      font: 30px "Roboto",serif!important;
      font-weight: 700!important;
      display: block;
    }
    .item-body dl, .item-body ol li, .item-body ul li {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    .item-body h2 {
      margin: 19px 0 17px;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 22px;
    }

    .item-body h3 {
      margin: 19px 0 17px;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 15px;
    }
  }
}

.buzzfeed-com {
  .main-content {
    .buzz_superlist_item_text p {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    .suplist_long .buzz_superlist_item_left_small, .suplist_long .buzz_superlist_item_left_large {
      float: left;
      margin: 5px 5px 5px -120px;
      padding: 10px 0 0 0;
    }
    p.article_caption_w_attr {
      padding: 3px 0 0 0;
      color: #666;
      font-size: 14px;
      line-height: 17px;
      clear: both;
    }
    .suplist_long .buzz_superlist_item_right_small, .suplist_long .buzz_superlist_item_right_large {
      float: right;
      margin: 5px -15px 5px 5px;
      padding: 10px 0 0 0;
    }
    .suplist_long .buzz_superlist_item_right_large,  .suplist_long .buzz_superlist_item_left_large, .suplist_long .buzz_superlist_item_right_large img, .suplist_long .buzz_superlist_item_left_large img {
      max-width: 440px;
    }
    .suplist_long .buzz_superlist_item_right_small, .suplist_long .buzz_superlist_item_left_small, .suplist_long .buzz_superlist_item_right_small img, .suplist_long .buzz_superlist_item_left_small img {
      max-width: 300px;
    }
    .suplist_long .buzz_superlist_item_wide {
      width: 900px;
      max-width: 900px;
      margin: 28px 0 20px 0px;
      padding: 0px;
    }
    .suplist_long .buzz_superlist_item_wide.image_lffw .sub_buzz_content img, .longform_custom_header_image .sub_buzz_content img {
      height: auto;
      width: 100%;
    }
    .buzz_superlist_item.buzz_superlist_item_image.buzz_superlist_item_wide.image_lffw.no_caption.been_bled.image_lffw_bled {
      .sub_buzz_content {
        margin-left: -125px !important;
        width: 900px !important;
        max-width: 900px !important;
        height: auto !important;
      }
    }
    .buzz_superlist_item.buzz_superlist_item_image.buzz_superlist_item_wide {
      width: 900px;
      max-width: 900px;
      margin: 28px 0 20px -148px;
      padding: 0px;
      .sub_buzz_content {
        padding: 0 0 3px 0;
        position: relative;
        line-height: 0;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .buzz_superlist_item.buzz_superlist_item_image.buzz_superlist_item_wide.image_lffw.no_caption.been_bled.image_lffw_bled{
      width: 900px;
      max-width: 900px;
      margin: 28px 0 20px -23px;
      padding: 0px;
    }
    .buzz_superlist_item.buzz_superlist_item_image.buzz_superlist_item_left_small.image_lfls {
      max-width: 300px;
      border: none;
      padding: 18px 0;
      clear: both;
      position: relative;
      margin: 0;
      float: left;
      .sub_buzz_content{
        img {
          max-width: 300px;
          display: block;
          height: auto;
        }
      }
    }
  }
}