// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .landing-landing {
//   max-height: 690px;
//   overflow: hidden;
//   margin: 0px;
//   padding: 0px;
// }

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.landing-container {
  overflow: hidden;
  max-height: 690px;
  // position: static;
}

video#bgvid {
  position: right;
  bottom: 0;
  width: 1273px;
  height: 716px;
  z-index: -100;
  background: image-url('assets/background.png') no-repeat;
  // background-size: 100%;
  margin-top: 50px;
}

.row.articles-container {
  margin-top: 0px !important;
}

.input-bar {
  position: relative;
  z-index: 10;
  margin-top: -630px;
  input {
    height: 40px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 8px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-family: 'Roboto';
    font-size: 20px;
  }
  input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 8px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    border-radius: 20px;
  }
  .category-select {
    width: 150px;
    float: left;
    margin-right: 5px;
  }
}

.landing-articles {
  position: fixed;
  overflow-y: scroll;
  width: 1199px;
  height: 390px;
  top: 260px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgba(250, 250, 250, 0.35);
  box-shadow: 10px 10px 15px 0px rgba(30,30,30,0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  .readable-article {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 5px;
    margin: 11px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 0px rgba(30,30,30,0.8);
    .category-pills {
      margin: 5px;
    }
    .landing-main-img-url {
      position: relative;
      width: 90%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      border-radius: 15px;
      box-shadow: 10px 10px 15px 0px rgba(30,30,30,0.8);
      img {
        position: relative;
        width: 100%;
        height: 200px;
      }
    }
    .landing-title {
      margin-top: -30px;
      margin-bottom: 10px;
      position: relative;
      z-index: 5;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(250, 250, 250, 0.9);
      height: 80px;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 10px 10px 15px 0px rgba(30,30,30,0.8);
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        text-shadow: -2px 2px 3px #9B9B9B;
        margin: 0px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        a {
          text-decoration: none;
          color: black;
        }
        a:visited {
          color: black;
        }
        a:hover {
          background-color: white;
        }
      }
    }

  }
}

.col-xs-4 {
  width: 367px;
}

.col-xs-6 {
  width: 585px;
}